// nextflow.config

params {
    // --- Input/Output Parameters ---
    input_dir   = false
    outdir      = './results'
    barcodes    = false
    help        = false

    // --- Workflow Step Control ---
    run_host_depletion  = false
    run_read_qc         = true
    run_classification  = true
    run_kraken = true
    run_mapping = false
    run_smart = false

    // --- References & Databases ---
    host_reference = '/mnt/Drive20T/db/human_genome/GCF_000001405.40_GRCh38.p14_genomic.fna'
    kraken_db      = '/mnt/Drive20T/db/kraken2_standard_pluspf'
    refseq_db      = '/mnt/Drive20T/db/refseq/target.fna.gz.mm2idx'
    smart_db       = '/mnt/Drive20T/smart/database/test/python_wrapped/'

    // --- Tool-Specific Options ---
    // These maps are passed directly to the corresponding modules
    host_opts = [
        keep_bam: false
    ]
    qc_opts = [
        min_mean_q      : 10,
        min_length      : 1000,
        trim5           : false,
        trim3           : false,
        window_size     : 10,
        cut_quality     : 10,
        perc_low_qual   : 40,
        min_base_q      : 10,
        low_complexity  : true,
        entropy         : 0.6,
        entropy_window  : 50,
        entropy_kmer    : 5,
        disable_adapters: false
    ]
    kraken_opts = [
        confidence     : 0.1,
        memory_mapping : true,
        min_base_q     : 0,
        min_hit_groups : 2
    ]
    mapping_opts = [
        secondary_aligns: 5
    ]
}

process {
    cpus   = 2
    memory = '6.GB'
    time   = '1.h'

    withName: 'COMBINE_FASTQ'    { cpus = 1;  memory = '1.GB' }
    withName: 'REMOVE_HOST'      { cpus = 12; memory = '24.GB'; time = '8.h' }
    withName: 'RUN_QC_FASTPLONG' { cpus = 4;  memory = '8.GB' }
    withName: 'PREPARE_KRAKEN_DB'   { cpus = 2;  memory = '4.GB' }
    withName: 'RUN_KRAKEN2'      { cpus = 12; memory = '32.GB'; time = '12.h' }
    withName: 'RUN_MAP2REFSEQ'   { cpus = 12; memory = '24.GB'; time = '12.h' }
    withName: 'RUN_SMART'        { cpus = 8;  memory = '16.GB'; time = '4.h' }
}

executor {
    name = 'local'
    cpus = 24
    memory = '60 GB'
}

conda {
    enabled = true
    conda.useMamba = true
    environment = "/mnt/Drive20T/scripts/metaRT/nextflow_pipeline/environment.yml" 
}

profiles {
    standard {}
    wgs {
        params.qc.opts.trim5 = true
        params.qc.opts.trim3 = true
        }
    cfdna { params.qc_opts.min_length = 75 }
    '16s' { params.kraken_db = '/mnt/Drive20T/db/16S_Greengenes_k2db' }
    test { params.input_dir = './test_data' }
    docker { docker.enabled = true }
}
