// nextflow.config

cleanup = true

params {
    // --- Input/Output Parameters ---
    input_dir   = false
    outdir      = './results'
    barcodes    = false
    help        = false

    // --- Workflow Step Control ---
    run_host_depletion  = false
    run_read_qc         = true
    run_classification  = true
    run_kraken = true
    run_mapping = false
    run_smart = false
    run_amr = false

    // --- References & Databases ---
    host_reference = false
    kraken_db      = false
    refseq_db      = false
    smart_db       = false
    card_db = false

    // --- Tool-Specific Options ---
    // These maps are passed directly to the corresponding modules
    host_opts = [
        keep_bam: false
    ]
    qc_opts = [
        min_mean_q      : 10,
        min_length      : 1000,
        trim5           : true,
        trim3           : true,
        window_size     : 10,
        cut_quality     : 10,
        perc_low_qual   : 40,
        min_base_q      : 10,
        low_complexity  : true,
        entropy         : 0.6,
        entropy_window  : 50,
        entropy_kmer    : 5,
        disable_adapters: false
    ]
    kraken_opts = [
        confidence     : 0.1,
        memory_mapping : true,
        min_base_q     : 0,
        min_hit_groups : 2
    ]
    mapping_opts = [
        secondary_aligns: 5
    ]
}

process {
    // Define the local Conda environment here so all processes use it
    beforeScript = "export PATH=${projectDir}/bin/conda-env/bin:\$PATH"

    cpus   = 2
    memory = '6.GB'
    time   = '1.h'

    withName: 'COMBINE_FASTQ'       { cpus = 1;  memory = '1.GB' }
    withName: 'REMOVE_HOST'         { cpus = 12; memory = '24.GB'; time = '8.h' }
    withName: 'RUN_QC_FASTPLONG'    { cpus = 4;  memory = '8.GB' }
    withName: 'PREPARE_KRAKEN_DB'   { cpus = 2;  memory = '4.GB' }
    withName: 'RUN_KRAKEN2'         { cpus = 12; memory = '32.GB'; time = '12.h' }
    withName: 'RUN_MAP2REFSEQ'      { cpus = 12; memory = '24.GB'; time = '12.h' }
    withName: 'RUN_SMART'           { cpus = 8;  memory = '16.GB'; time = '4.h' }
    withName: 'RUN_AMR'             { cpus = 12; memory = '24.GB'; time = '8.h' }
}

executor {
    name = 'local'
    cpus = 24
    memory = '60 GB'
}

// conda {
//     enabled = true
//     useMamba = true
//     // environment = "${projectDir}/environment.yml"
//     // environment = "${projectDir}/bin/conda-env"
// }

profiles {
    standard {}
    wgs {
        params.qc.opts.trim5 = true
        params.qc.opts.trim3 = true
        }
    cfdna { params.qc_opts.min_length = 75 }
    '16s' { params.kraken_db = false } // Or remove the line entirely, as the user must provide it
    test { params.input_dir = './test_data' }
    docker { docker.enabled = true }
}
